.DS_Store
target
debug/
**/*.rs.bk
*.pdb
node_modules
.idea/
.yarn
.env*
bin/
pkg/
wasm-pack.log
aarchives
examples
removed.rs
toBeAdded.rs
zz*.sh
backendFunc/
makefile
Cargo.lock
# Remove Cargo.lock from gitignore if creating an executable
