.DS_Store
target
debug/
**/*.rs.bk
*.pdb
node_modules
test-ledger
dist/
.idea/
.yarn
.env*
aarchives
examples
removed.rs
toBeAdded.rs
zz*.sh
backendFunc/
makefile
Cargo.lock
# Remove Cargo.lock from gitignore if creating an executable
